<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/data/favicon.png">
    <link rel="stylesheet" href="/data/style.css">
    <link rel="stylesheet" href="/data/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/data/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/data/bootstrap/bootstrap-reboot.min.css">
    <title>{{ .Title }}</title>
</head>
<body>
    {{ .Body }}
    <script src="/data/script.js"></script>
    <script src="/data/bootstrap/bootstrap.min.js"></script>
    <script src="/data/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>