<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-light border rounded mt-3 pt-2">
            <div class="row justify-content-center pb-4">
                <div class="col">
                    <h1 style="display:inline;">Sign Up</h1>
                    <a href="/" class="badge badge-secondary" style="float:right;">Sign In</a>
                </div>
            </div>
            <form action="/" method="POST">
                <div class="form-group">
                    <h4>Fill the form</h4>
                </div>
                <div class="form-group">
                    <label for="loginInput">Login:</label>
                    <input type="text" name="Login" class="form-control" id="loginInput" placeholder="Create Login">
                </div>
                <div class="form-group">
                        <label for="nameInput"> Your Name:</label>
                        <input type="text" name="Name" class="form-control" id="nameInput" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                        <label for="emailInput">Email:</label>
                        <input type="email" name="Email" class="form-control" id="emailInput" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                        <label for="passwordInput">Password:</label>
                        <input type="text" name="Password" class="form-control" id="passwordInput" placeholder="Create Password">
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>